version: '3'
services:
  redis:
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    networks:
      - redis-net
    volumes:
      - redis-data:/data

  app:
    build: .
    environment:
      - DEMO_APP_ADDR=app:8080
      - DEMO_REDIS_ADDR=redis:6379
    ports:
      - 8080:8000
    networks:
      - redis-net
    depends_on:
      - redis

networks:
  redis-net:

volumes:
  redis-data:
